<div class="container center">
    <div class="div">The most experienced,</div>
    <div class="">specialised team across</div>
    <div class="div">the industry</div>
</div>
<div class="center_m">Work with us</div>

<div class="dev">

    <span><img src="../../assets/images_logo.jpeg" class="oval"></span>
    <span><img src="../../assets/images_logo.jpeg" class="oval"></span>
    <span><img src="../../assets/images_logo.jpeg" class="oval"></span>
    <span class="meet">MEET OUR DEVELOPERS</span>
</div>

 