<div class="contaier">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
       <strong>BLITZ</strong>
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SERVICES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PROJECTS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <div class="dropdown">
        <span ><i class="bi bi-list menu"></i></span>
        <span class="badge rounded-pill badge-notification bg-dark">CONTACT US</span>
      </div>
    </div>
  </div> 
</nav>

</div>
<div class="container-fluid ">
<!--<div class="row">
    <div class="col-8 shadow-sm p-3 mb-5 bg-body rounded border border-dark"><app-beyond-logo></app-beyond-logo></div>
    <div class="col shadow-sm p-3 mb-5 bg-body rounded border border-dark">Right</div>
  </div>

-->

<div class="card-group ">
  <div class="col-10 card border-dark "  >
    
    <div class="card-body">
      <h5 class="card-title">
        <div class="container logo">
          <span>
          <div class="picNtext">
          
            <span class="fw-bold con">Look</span>
          </div>
       
          <div class="fw-bold con">beyond</div>
          <div class="fw-bold con">Limits</div>
        </span>
        
      </div>
      <br>
      <div class="container btns">
          <button class="btn btn-primary button rounded-pill">Get in touch</button>

      </div>
      <span class=""><i class=" icn bi bi-envelope --fa-border-radius"></i></span>
   <!--  <span> <img src="../assets/images.png" class="img" alt="..."></span>--> 
   <span> <img src="../assets/images.png" class="img" alt="..."></span>
      </h5>
      <p class="card-text"></p>
      
    </div>
  </div>
  <div class="col-2 card  ">
    <img src="../assets/peakpx-removebg-preview.png" class="card-img-top cr2image" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
 <div class="card-group">
    <div class="card border-dark cardB">
      
      <div class="card-body ">
        <h5 class="card-title"><app-leftbottomcard></app-leftbottomcard></h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
      <img src="../assets/netflix-282224.webp" class="card-img-top image" alt="...">
    </div>
    <div class="card border-dark">
      <div class="card-body">
        <h5 class="card-title"><app-centercard></app-centercard></h5>
        <p class="card-text"></p>
        
        <div class="card-img-top" ></div>
      </div>
    </div>
    <div class="card border-dark">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
      <img src="..." class="card-img-top" alt="...">
    </div>
  </div>
  


  <!-- 
  <div class="row">
    <div class="col-4 shadow-sm p-3 mb-5 bg-body rounded border border-dark"><app-leftbottomcard></app-leftbottomcard></div>
    <div class="col-4 shadow-sm p-3 mb-5 bg-body rounded border border-dark"><app-centercard></app-centercard></div>
    <div class="col-4 shadow-sm p-3 mb-5 bg-body rounded border border-dark"><app-rightbottomcard></app-rightbottomcard></div>
  </div>
</div>

-->
